.show-details-page {
  display: flex;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .content-wrapper {
    margin-left: 40px;

    @media only screen and (max-width: 600px) {
      margin-left: 0;
    }
  }

  .show-image {
    width: 350px;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    @media only screen and (min-width: 600px) and (max-width: 800px) {
      width: 50%;
    }
  }

  .link {
    text-decoration: none;
    color: black;
  }
}